

div.container{
    width: 100%;
    border: 1px solid gray;
}
header{

    background-image: url(../images/blue-gradient-white-highlight-linear-1920x1080-c2-ffffff-add8e6-l-50-a-120-f-21.svg);
    color:#142586;
    border: none;
    text-align: left;
}

/*navigation bar start from here*/
.navbar {
    overflow: hidden;
    background-color: black;
    font-family: Arial;
    width: 100%;
}

.navbar a {
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
   padding: 14px 16px;
    text-decoration: none;
}

.dropdown {
    float: left;
    overflow: hidden;
}

.dropdown .dropbtn {
    font-size: 16px;    
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
}
    

.navbar a:hover, .dropdown:hover .dropbtn {
    background-color: #142586;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    width:auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}


.dropdown:hover .dropdown-content {
    display: block;
}


.column {
    float: inherit;
    width: 100%;
     background-color: transparent;
    height: auto;
}

.column a {
    float: inherit;
    color: black;
    padding: 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.column a:hover {
    background-color: transparent;
}


.row:after {
    content: "";
    display: table;
    clear: both;
}
/*search bar*/
input[type=text] {
    width: 20%;
    box-sizing: border-box;
    border: 2px solid white;
    border-radius: 4px;
    font-size: 16px;
    background-color: transparent;
    
    background-position: 10px 10px; 
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
    float: right;
    
}

input[type=text]:focus {
    width  : 25%;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.sticky + .content {
  padding-top: 60px;
}
/*navigation bar end*/


/*slide show start from here*/

* {box-sizing:border-box}
body {font-family: Verdana,sans-serif;}
.mySlides {display:none}


.slideshow-container {
  max-width: 100%;
  position: relative;
  margin: auto;
}

.active {
  background-color: #717171;
}


.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}


@media only screen and (max-width: 300px) {
  .text {font-size: 11px}
}
/*end of slide show*/

/*page layout*/
.column1 {
    float: left;
    padding: 10px;
}
.column1.main{width:75%;font-size: 20px;font-family: cursive}
h1{font-size: 30px;text-decoration: none}
.column1.side{width: 25%;}
.row:after {
    content: "";
    display: table;
    clear: both;
}

/*image grid*/

.container5 * {
    box-sizing: border-box; border: 2px solid black;
}
.column5 {
    float: left;
    width:25%;
    padding: 10px;
}

.column5 img {
    margin-top: 12px;
}


.row5:after {
    content: "";
    display: table;
    clear: both;
}


/*image grid end*/
/*log in  */
form.login {
    border: 3px solid #f1f1f1;
}

input.lgin[type=text], input.lgin[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

button.lgin {
    background-color: #142586;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}

button:hover {
    opacity: 0.8;
}


.container login {
    padding: 16px;
}

span.psw {
    float: right;
    
}


@media screen and (max-width: 300px) {
    span.psw {
       display: block;
       float: none;
    }
   
}
/*sign up*/

input.suem[type=text], input.supw[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}


button.signupbtn {
    background-color:#142586;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}




.signupbtn {
    float: left;
    width: 100%;
}


.container signup {
    padding: 16px;
}


.clearfix::after {
    content: "";
    clear: both;
    display: table;
}


@media screen and (max-width: 300px) {
    .signupbtn {
       width: 100%;
    }
}
/*sign up end*/
 /*news letter*/

form.newsletter {
    border: 3px solid black;
    font-family: Arial;

}

.containernl {
    padding: 20px;
    background-color: black;
    color: gray;
}

input.nl[type=text], input.nl[type=submit] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

input.nl[type=checkbox] {
    margin-top: 16px;
}

input.nl[type=submit] {
    background-color: #142586;
    color: white;
    border: none;
}

input.nl[type=submit]:hover {
    opacity: 0.8;
}

@media (max-width:600px){
    .column1.main, .column.sub {
        width: 100%;
    }
}
/*footer*/
h4{text-decoration: underline;font-size: 20px;}
.footer {
    background-color: black;
    padding: 10px;
    color: white;
    width: 100%;
    overflow: hidden;
}
.menu{
     width: 25%;
    float: left;
    padding: 15px;
    text-align: left;
}
p.cr {font-size: 12px;}

